@charset "ISO-8859-1";

input[type=email] {
	width: 100%;
}

input[type=email], input[type=text] {
	border: 1px solid lightgray;
	outline: 0;
	padding: 10px 10px;
	border-radius: 5px;
}

input[type=submit] {
	border: 0;
	border-radius: 3px;
	background-color: #abdbe3;
	color: white;
	padding: 10px 40px;
}

table tr:nth-child(1) {
	height: 100px;
}

table tr:nth-child(3) td{
	padding-bottom:20px;
}

table tr td {
	width: 200px;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	height: 100vh;
}

.form_container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.otp_row {
	display: none;
}

.otp_row_padding td {
	padding-bottom:20px;
}

.submit_button_row {
	height: 70px;
}

#error_row{
	display:none;
}


#error_row td {
	width: 100%;
	padding: 30px 20px;
	border-radius: 5px;
	background-color: #FF9494;
}